.sidebar_container {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align: justify; */
}

.sidebar_icons {
  width: 20%;

  background-color: var(--color-bg);
}
.sidebar_info {
  width: 80%;
  background-color: #2e323c;
}
.sidebar_icons {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
}

.sidebar_icons > * {
  margin-bottom: 2rem;
  transform: scale(1.2);
  color: var(--color-white);
  cursor: pointer;
}
