@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300;400&family=Poppins:wght@300;400&family=Raleway&family=Ubuntu:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: "Lato", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: #111317;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  display: flex;
}
.textarea {
  width: 35vw;
  height: 540px;
  background: #f1f1f1;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 18px;
  font-family: "raleway";
}
.output {
  font-size: 18px;
  width: 35vw;
  min-height: 540px;
  background: #282c34;
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px;
  color: #fff;
  line-height: 3rem;
  font-family: "Poppins";
}
.output a {
  color: red;
}
.output table,
tr,
td,
th {
  border: 1px solid #555;
}

root {
  /* color:#282c34, */
  /* color:#0A99bbff, */
  /* color:#43495, */
  /* color:#56b6c, */
  /* color:#21252, */
  /* color:#434957, */
  /* color:#4Dff0000, */
}
