@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300;400&family=Poppins:wght@300;400&family=Raleway&family=Ubuntu:wght@300;400&display=swap");

:root {
  --color-bg: #282c34;
  --color-blue: #61afef;
  --color-purple: #c678dd;
  --color-green: #98c379;
  --color-yellow: #e5c07b;
  --color-red: #e06c75;
  --color-white: #abb2bf;
  --color-cyan: #56b6c2;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
}
.navbar {
  background-color: #e06c75;
  padding: 1rem;
  font-family: "Lato";
  height: 2rem;
  font-size: 1rem;
}
.main_container {
  display: flex;
  height: 100vh;
  /* min-width: 100%; */
}
.main_sidebar {
  background-color: #2e323c;
  min-width: 20%;
  /* height: 100%; */
}
.main_editor {
  background-color: #1e2127;
  min-width: 80%;
}
